<div>
<div>
<p>Visit Reason:</p>
<form method="POST">
<select name = "<?php echo "$postvar"; ?>" value="----">
    <option value="blank" name="blank" selected="selected">&nbsp;</option>
  <optgroup label="Resume">
    <option value="workingcampus" name="workingcampus">Working on/off Campus</option>
    <option value="university101" name="university101">University 101</option>
  </optgroup>
  <optgroup label="Griffon Link">
    <option value="accountproblem" name = "accountproblem">Problem with Account</option>
    <option value="newaccount" name="newaccount">New Account</option>
  </optgroup>
</select>
</div>
<br />
<br />
<textarea rows="8" cols="50" placeholder="Comments"></textarea>

</div>

</form>