.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.link-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.link-item a {
    background: transparent;
    border: 2px solid rgb(255, 193, 13);
    color: #000;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.link-item a:hover,
.link-item a:focus {
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
}


.link-item2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.link-item2 a {
    background: transparent;
    border: 2px solid rgb(255, 193, 13);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.link-item2 a:hover,
.link-item2 a:focus {
    border: 2px solid rgb(251, 223, 127);
    text-decoration: none;
}